body {
    background-color: rgb(7, 31, 5, 0.9);
    
}
.mainPage {
    background-image: url(img/englandGreen.jpg);
    background-repeat: no-repeat;
    background-size: 
}
h1{
    font-family: 'Allison', cursive;
    color: maroon;
    text-align: center;
}
#page-title {
    background-color: rgba(250, 235, 215, 0.9);
    font-size: 100px;
    display: block;
    padding: 8px;
    border-radius: 15px;
    margin: 20px 200px 20px 200px;
}
.row {
    background-color: rgba(250, 235, 215, 0.9);
}
.vline {
    border-left: 1px solid #ccc;
    height: 50%;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    border-color: maroon;
}
hr {
    border-color: maroon;
}
footer {
    text-align: center;
    color: maroon;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
}